/** header **/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    border-bottom: 2px solid black;
    height: 8dvh;
}

.headerAvatar{
    display: flex;
    flex-direction: row;
}

.avatarIMG{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    
}

#homeh1 {
    padding-left: 10px;
    color: white;
    padding-right: 10px;
}

header nav {
    width: 40%;
    display: flex;
    justify-content: right;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    justify-content: space-around;
}

header ul li {
    background-color: #4A90E2;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    color: #2c3e50;
}

header ul li:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

#maincontainer {
    width: 100%;
    height: calc(100vh - 8dvh); /* Ensures the height minus header */
    display: flex;
    flex-direction: row;
}

/** group area **/
#groups {
    flex: 1;
    background-color: #4A90E2;
}


#chat {
    flex: 3;
    background-color: #F7ECD5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

.heading3{
    width: 100%;
    display: flex;
    margin: 0px;
    justify-content: center;
    padding: 5px;
    border-bottom: 1px solid black;
    background-color: #F7ECD5;
    border-left: 1px solid black;
}

/** new group menu **/
#newgroup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: 40%;
    height: 30%
}

#newgroup form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#newgroup form input{
    width: 50%;
    font-size: large;
    padding: 10px;
}

#newgroup form button{
    width: 50%;
    font-size: large;
    padding: 10px;
    background-color: white;
    margin-top: 5px;
}

/** group area **/
#groupList{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.groupLI{
    padding: 10px;
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    cursor: pointer;
    font-weight: bold;
}

.grouptxt{
    margin: 0px;
    font-weight: bold;
    font-size: larger;
}

#channelHeading{
    margin: 0px;
}

.channelList{
    list-style: none;
    margin: none;
    width: 80%;
}

.channelListItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.channelListItem p{
    margin: 0px;
}

/** View users menu **/
#viewUsers{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: 40%;
    height: 30%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#viewUserClose{
    width: 50%;
    margin: 5px;
    padding: 8px;
    border-radius: 10px;
}

#viewUserList{
    width: 80%;
    list-style: none;
}

#viewUserList li{
    border: 1px solid black;
    margin: 2px;
    border-radius: 10px;
}
#viewUserList button {
    width: 50%;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
}

#viewUserUpgrade:hover{
    background-color: lightgreen;
    transition: 0.5s;
}

#viewUserDelete:hover{
    background-color: red;
    transition: 0.5s;
}

/** new Channel menu **/
#newchannel{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: 40%;
    height: 30% 
}

#newchannel form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#newchannel form input{
    width: 50%;
    font-size: large;
    padding: 10px;
}

#newchannel form button{
    width: 50%;
    font-size: large;
    padding: 10px;
    background-color: white;
    margin-top: 5px;
}

/** chat functionality **/
.chatfunctionality{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background-color: #4A90E2;
}

.chatfunctionality textarea{
    width: 90%;
    font-size: medium;
}

/** request access menu **/
#requestaccess{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: 40%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
}

#requestaccess ul{
    list-style: none;
    width: 80%;
}

#requestaccess li{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}

#requestaccessclose{
    width: 50%;
    padding: 8px;
    border-radius: 10px;
    margin: 5px;
}

/** pending access menu **/
#pendingRequests{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: 40%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
} 

#pendingRequests ul{
    list-style: none;
}

#pendingRequestClose{
    width: 50%;
    padding: 8px;
    border-radius: 10px;
}

@media only screen and (max-width: 600px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
    }

    #homeh1{
        margin: 1px;
    }

    header nav{
        width: 100%;
        justify-content: space-between;
        height: 10px;
    }

    header ul{
        justify-content: space-between;
        width: 100%;
        margin: 1px;
    }

    header ul li{
        padding: 0px;
        border: none;
        color: white;
    }

    /** make group menu **/
    #newgroup{
        width:90%;
        height: 50%;
    }

    /** view users menu **/
    #viewUsers{
        width: 90%;
        height: 60%;
    }

    /** Pending group request **/
    #pendingRequests{
        width: 90%;
        height: 60%;
    }

    /** add chanel menu **/
    #newchannel{
        width: 90%;
        height: 50%;
    }

    /** request group access **/
    #requestaccess{
        width: 90%;
        height: 60%;
    }
}